@import '~src/sass/variables';
@import '~src/sass/utils';

.product {
    @include box-shadow;

    background-color: $light;
    border-radius: 4px;
    padding: 10px;

    &-header {
        width: 100%;
        height: 150px;
        padding: 10px;
        display: flex;
        align-items: center;
        justify-content: center;

        & img {
            max-width: 100px;
        }
    }

    &-content {
        height: 50px;

        & span {
            display: -webkit-box;
            overflow: hidden;
            text-overflow: ellipsis;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
        }
    }

    &-footer {
        font-weight: bold;
        display: flex;
        align-items: center;
        justify-content: space-between;

        & .cart {
            font-size: 30px;
            cursor: pointer;
            color: lighten($dark, 15%);

            &:hover {
                color: darken($primary, 10%);
            }

            &.active {
                color: darken($primary, 5%);
            }
        }
    }
}