@import 'variables';

@mixin button-bg($bg, $color: $light, $border: none) {
  background: $bg;
  color: $color;
  border: $border;

  &:hover {
    background: darken($bg, 4%);
    transition: all 0.3s ease;
  }
  &:active {
    background: darken($bg, 6%);
  } 
}

.btn {
  text-decoration: none;
  padding: 10px;
  min-width: 150px;
  border-radius: 20px;
  font-size: 1em;
  outline: 0;
  cursor: pointer;

  &::-moz-focus-inner {
    padding: 0;
    border: 0;
  }

  &-primary {
    @include button-bg($primary, $dark);
  }
}
