@import '~src/sass/variables';
@import '~src/sass/utils';

.category {
    @include box-shadow;

    background-color: $light;
    border-radius: 4px;
    text-align: center;
    padding: 15px 10px;
    cursor: pointer;

    &:hover {
        color: darken($primary, 10%);
    }

    &.active {
        background-color: $primary;

        &:hover {
            color: darken($light, 60%);
        }
    }
}