@import '~src/sass/variables';

.page-content {
    max-width: 1360px;
    margin: auto;
    padding: 20px 0;

    & .search {
        padding: 0 20px;
    }

    & .categories,
    & .products {
        padding: 20px;
        display: grid;
        grid-row-gap: 16px;
        grid-column-gap: 16px;
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    }

    & .no-products {
        display: flex;

        &-content {
            width: 100%;
            display: flex;
            align-items: center;
            flex-direction: column;
            justify-content: center;
            text-align: center;
            margin: 20px 0;
            font-size: 30px;
            color: lighten($dark, 15%);
    
            & .icon {
                font-size: 80px;
                margin-bottom: 20px;
            }
        }
    }
}
