@import '~src/sass/variables';
@import '~src/sass/button';
@import '~src/sass/input';
@import '~src/sass/link';

@import '~@fontsource/roboto/index.css';
@import '~@fontsource/permanent-marker/index.css';

@import '~@mdi/font/scss/materialdesignicons';

@import '~ngx-toastr/toastr';

* {
    box-sizing: border-box;
    outline: none;
}

html,
body {
  background-color: $base-color;
  font-family: 'Roboto';
  color: $dark;
  margin: 0;
  padding: 0;
  height: 100%;
}

.logo-font {
    font-family: 'Permanent Marker';
}

// SCROLL
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  background: rgba($dark, .3);
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba($dark, .5);
}