@import '~src/sass/variables';
@import '~src/sass/button';
@import '~src/sass/link';

@import '~@fontsource/roboto/index.css';
@import '~@fontsource/permanent-marker/index.css';

* {
    box-sizing: border-box;
    outline: none;
}

html,
body {
  background-color: $base-color;
  font-family: 'Roboto';
  color: $dark;
  margin: 0;
  padding: 0;
  height: 100%;
}

.logo-font {
    font-family: 'Permanent Marker';
}